table {
	padding: .2em;
	border-spacing: 0;
	table-layout: fixed;
}

table tr:nth-child(odd){
	background-color: #ffffff;
}

table tr:nth-child(even){
	background-color: #e7e7e8;
}

#player_col {
	background-color: #b3dcfc;
}

thead{
	align-self:center;
}
caption{
	padding:1em;
	font-size:2em;
	font-weight: bold;
}

.round{
	width: 5%;
	font-size: x-small;
}

.remove-btn{
	height:59px;
}

#toolbar {
    padding-top: 1em;
}

input[type=number]{
	border-radius: .3em;
	box-shadow: -3px -3px 5px 0px 4px rgba(50, 50, 50, 0.68) inset;
}

input[type=checkbox]{
	transform: scale(1.5);
}